# 1.Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

# 2.Import dataset from the given address and assing it to a variable called df

In [2]:
url='https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv'
df=pd.read_csv(url)

# print df

In [3]:
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
5,GP,M,16,U,LE3,T,4,3,services,other,...,5,4,2,1,2,5,10,15,15,15
6,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,4,1,1,3,0,12,12,11
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,4,1,4,1,1,1,6,6,5,6
8,GP,M,15,U,LE3,A,3,2,services,other,...,4,2,2,1,1,1,0,16,18,19
9,GP,M,15,U,GT3,T,3,4,other,other,...,5,5,1,1,1,5,0,14,15,15
10,GP,F,15,U,GT3,T,4,4,teacher,health,...,3,3,3,1,2,2,0,10,8,9
11,GP,F,15,U,GT3,T,2,1,services,other,...,5,2,2,1,1,4,4,10,12,12
12,GP,M,15,U,LE3,T,4,4,health,services,...,4,3,3,1,3,5,2,14,14,14
13,GP,M,15,U,GT3,T,4,3,teacher,other,...,5,4,3,1,2,3,2,10,10,11
14,GP,M,15,U,GT3,A,2,2,other,other,...,4,5,2,1,1,3,0,14,16,16
15,GP,F,16,U,GT3,T,4,4,health,other,...,4,4,4,1,2,2,4,14,14,14
16,GP,F,16,U,GT3,T,4,4,services,services,...,3,2,3,1,2,2,6,13,14,14
17,GP,F,16,U,GT3,T,3,3,other,other,...,5,3,2,1,1,4,4,8,10,10
18,GP,M,17,U,GT3,T,3,2,services,services,...,5,5,5,2,4,5,16,6,5,5
19,GP,M,16,U,LE3,T,4,3,health,other,...,3,1,3,1,3,5,4,8,10,10
20,GP,M,15,U,GT3,T,4,3,teacher,other,...,4,4,1,1,1,1,0,13,14,15
21,GP,M,15,U,GT3,T,4,4,health,health,...,5,4,2,1,1,5,0,12,15,15
22,GP,M,16,U,LE3,T,4,2,teacher,other,...,4,5,1,1,3,5,2,15,15,16
23,GP,M,16,U,LE3,T,2,2,other,other,...,5,4,4,2,4,5,0,13,13,12
24,GP,F,15,R,GT3,T,2,4,services,health,...,4,3,2,1,1,5,2,10,9,8
25,GP,F,16,U,GT3,T,2,2,services,services,...,1,2,2,1,3,5,14,6,9,8
26,GP,M,15,U,GT3,T,2,2,other,other,...,4,2,2,1,2,5,2,12,12,11
27,GP,M,15,U,GT3,T,4,2,health,services,...,2,2,4,2,4,1,4,15,16,15
28,GP,M,16,U,LE3,A,3,4,services,other,...,5,3,3,1,1,5,4,11,11,11
29,GP,M,16,U,GT3,T,4,4,teacher,teacher,...,4,4,5,5,5,5,16,10,12,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,MS,M,18,R,GT3,T,1,3,at_home,other,...,3,3,4,2,4,3,4,10,10,10
366,MS,M,18,U,LE3,T,4,4,teacher,services,...,4,2,2,2,2,5,0,13,13,13
367,MS,F,17,R,GT3,T,1,1,other,services,...,5,2,1,1,2,1,0,7,6,0
368,MS,F,18,U,GT3,T,2,3,at_home,services,...,5,2,3,1,2,4,0,11,10,10
369,MS,F,18,R,GT3,T,4,4,other,teacher,...,3,2,2,4,2,5,10,14,12,11
370,MS,F,19,U,LE3,T,3,2,services,services,...,3,2,2,1,1,3,4,7,7,9
371,MS,M,18,R,LE3,T,1,2,at_home,services,...,4,3,3,2,3,3,3,14,12,12
372,MS,F,17,U,GT3,T,2,2,other,at_home,...,3,4,3,1,1,3,8,13,11,11
373,MS,F,17,R,GT3,T,1,2,other,other,...,3,5,5,1,3,1,14,6,5,5
374,MS,F,18,R,LE3,T,4,4,other,other,...,5,4,4,1,1,1,0,19,18,19
375,MS,F,18,R,GT3,T,1,1,other,other,...,4,3,2,1,2,4,2,8,8,10
376,MS,F,20,U,GT3,T,4,2,health,other,...,5,4,3,1,1,3,4,15,14,15
377,MS,F,18,R,LE3,T,4,4,teacher,services,...,5,4,3,3,4,2,4,8,9,10
378,MS,F,18,U,GT3,T,3,3,other,other,...,4,1,3,1,2,1,0,15,15,15
379,MS,F,17,R,GT3,T,3,1,at_home,other,...,4,5,4,2,3,1,17,10,10,10
380,MS,M,18,U,GT3,T,4,4,teacher,teacher,...,3,2,4,1,4,2,4,15,14,14
381,MS,M,18,R,GT3,T,2,1,other,other,...,4,4,3,1,3,5,5,7,6,7
382,MS,M,17,U,GT3,T,2,3,other,services,...,4,4,3,1,1,3,2,11,11,10
383,MS,M,19,R,GT3,T,1,1,other,services,...,4,3,2,1,3,5,0,6,5,0
384,MS,M,18,R,GT3,T,4,2,other,other,...,5,4,3,4,3,3,14,6,5,5
385,MS,F,18,R,GT3,T,2,2,at_home,other,...,5,3,3,1,3,4,2,10,9,10
386,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,4,4,3,2,2,5,7,6,5,6
387,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,0,7,5,0
388,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,0,7,9,8
389,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,0,6,5,0
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

# 4.For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [4]:
df1=df.loc[ : ,"school":'guardian']

# print df1

In [5]:
df1

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother
4,GP,F,16,U,GT3,T,3,3,other,other,home,father
5,GP,M,16,U,LE3,T,4,3,services,other,reputation,mother
6,GP,M,16,U,LE3,T,2,2,other,other,home,mother
7,GP,F,17,U,GT3,A,4,4,other,teacher,home,mother
8,GP,M,15,U,LE3,A,3,2,services,other,home,mother
9,GP,M,15,U,GT3,T,3,4,other,other,home,mother
10,GP,F,15,U,GT3,T,4,4,teacher,health,reputation,mother
11,GP,F,15,U,GT3,T,2,1,services,other,reputation,father
12,GP,M,15,U,LE3,T,4,4,health,services,course,father
13,GP,M,15,U,GT3,T,4,3,teacher,other,course,mother
14,GP,M,15,U,GT3,A,2,2,other,other,home,other
15,GP,F,16,U,GT3,T,4,4,health,other,home,mother
16,GP,F,16,U,GT3,T,4,4,services,services,reputation,mother
17,GP,F,16,U,GT3,T,3,3,other,other,reputation,mother
18,GP,M,17,U,GT3,T,3,2,services,services,course,mother
19,GP,M,16,U,LE3,T,4,3,health,other,home,father
20,GP,M,15,U,GT3,T,4,3,teacher,other,reputation,mother
21,GP,M,15,U,GT3,T,4,4,health,health,other,father
22,GP,M,16,U,LE3,T,4,2,teacher,other,course,mother
23,GP,M,16,U,LE3,T,2,2,other,other,reputation,mother
24,GP,F,15,R,GT3,T,2,4,services,health,course,mother
25,GP,F,16,U,GT3,T,2,2,services,services,home,mother
26,GP,M,15,U,GT3,T,2,2,other,other,home,mother
27,GP,M,15,U,GT3,T,4,2,health,services,other,mother
28,GP,M,16,U,LE3,A,3,4,services,other,home,mother
29,GP,M,16,U,GT3,T,4,4,teacher,teacher,home,mother
...,...,...,...,...,...,...,...,...,...,...,...,...
365,MS,M,18,R,GT3,T,1,3,at_home,other,course,mother
366,MS,M,18,U,LE3,T,4,4,teacher,services,other,mother
367,MS,F,17,R,GT3,T,1,1,other,services,reputation,mother
368,MS,F,18,U,GT3,T,2,3,at_home,services,course,father
369,MS,F,18,R,GT3,T,4,4,other,teacher,other,father
370,MS,F,19,U,LE3,T,3,2,services,services,home,other
371,MS,M,18,R,LE3,T,1,2,at_home,services,other,father
372,MS,F,17,U,GT3,T,2,2,other,at_home,home,mother
373,MS,F,17,R,GT3,T,1,2,other,other,course,mother
374,MS,F,18,R,LE3,T,4,4,other,other,reputation,mother
375,MS,F,18,R,GT3,T,1,1,other,other,home,mother
376,MS,F,20,U,GT3,T,4,2,health,other,course,other
377,MS,F,18,R,LE3,T,4,4,teacher,services,course,mother
378,MS,F,18,U,GT3,T,3,3,other,other,home,mother
379,MS,F,17,R,GT3,T,3,1,at_home,other,reputation,mother
380,MS,M,18,U,GT3,T,4,4,teacher,teacher,home,father
381,MS,M,18,R,GT3,T,2,1,other,other,other,mother
382,MS,M,17,U,GT3,T,2,3,other,services,home,father
383,MS,M,19,R,GT3,T,1,1,other,services,other,mother
384,MS,M,18,R,GT3,T,4,2,other,other,home,father
385,MS,F,18,R,GT3,T,2,2,at_home,other,other,mother
386,MS,F,18,R,GT3,T,4,4,teacher,at_home,reputation,mother
387,MS,F,19,R,GT3,T,2,3,services,other,course,mother
388,MS,F,18,U,LE3,T,3,1,teacher,services,course,mother
389,MS,F,18,U,GT3,T,1,1,other,other,course,mother
390,MS,M,20,U,LE3,A,2,2,services,services,course,other
391,MS,M,17,U,LE3,T,3,1,services,services,course,mother
392,MS,M,21,R,GT3,T,1,1,other,other,course,other
393,MS,M,18,R,LE3,T,3,2,services,other,course,mother
394,MS,M,19,U,LE3,T,1,1,other,at_home,course,father

# 5.create a lambda function that capitalize strings

In [6]:
cpl=(lambda x: x.capitalize())

In [7]:
cpl

# 6.capitalize both Mjob and Fjob

In [8]:
Mj=df1["Mjob"].apply(cpl)

In [9]:
Mj

0       At_home
1       At_home
2       At_home
3        Health
4         Other
5      Services
6         Other
7         Other
8      Services
9         Other
10      Teacher
11     Services
12       Health
13      Teacher
14        Other
15       Health
16     Services
17        Other
18     Services
19       Health
20      Teacher
21       Health
22      Teacher
23        Other
24     Services
25     Services
26        Other
27       Health
28     Services
29      Teacher
         ...
365     At_home
366     Teacher
367       Other
368     At_home
369       Other
370    Services
371     At_home
372       Other
373       Other
374       Other
375       Other
376      Health
377     Teacher
378       Other
379     At_home
380     Teacher
381       Other
382       Other
383       Other
384       Other
385     At_home
386     Teacher
387    Services
388     Teacher
389       Other
390    Services
391    Services
392       Other
393    Services
394       Other
Name: Mjob, Length: 395, dtype: object

In [10]:
Fj=df1["Fjob"].apply(cpl)

In [11]:
Fj

0       Teacher
1         Other
2         Other
3      Services
4         Other
5         Other
6         Other
7       Teacher
8         Other
9         Other
10       Health
11        Other
12     Services
13        Other
14        Other
15        Other
16     Services
17        Other
18     Services
19        Other
20        Other
21       Health
22        Other
23        Other
24       Health
25     Services
26        Other
27     Services
28        Other
29      Teacher
         ...
365       Other
366    Services
367    Services
368    Services
369     Teacher
370    Services
371    Services
372     At_home
373       Other
374       Other
375       Other
376       Other
377    Services
378       Other
379       Other
380     Teacher
381       Other
382    Services
383    Services
384       Other
385       Other
386     At_home
387       Other
388    Services
389       Other
390    Services
391    Services
392       Other
393       Other
394     At_home
Name: Fjob, Length: 395, dtype: object

# 7.print the last element of dataset

In [12]:
df1.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
390,MS,M,20,U,LE3,A,2,2,services,services,course,other
391,MS,M,17,U,LE3,T,3,1,services,services,course,mother
392,MS,M,21,R,GT3,T,1,1,other,other,course,other
393,MS,M,18,R,LE3,T,3,2,services,other,course,mother
394,MS,M,19,U,LE3,T,1,1,other,at_home,course,father

In [13]:
df1.head(20)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother
4,GP,F,16,U,GT3,T,3,3,other,other,home,father
5,GP,M,16,U,LE3,T,4,3,services,other,reputation,mother
6,GP,M,16,U,LE3,T,2,2,other,other,home,mother
7,GP,F,17,U,GT3,A,4,4,other,teacher,home,mother
8,GP,M,15,U,LE3,A,3,2,services,other,home,mother
9,GP,M,15,U,GT3,T,3,4,other,other,home,mother
10,GP,F,15,U,GT3,T,4,4,teacher,health,reputation,mother
11,GP,F,15,U,GT3,T,2,1,services,other,reputation,father
12,GP,M,15,U,LE3,T,4,4,health,services,course,father
13,GP,M,15,U,GT3,T,4,3,teacher,other,course,mother
14,GP,M,15,U,GT3,A,2,2,other,other,home,other
15,GP,F,16,U,GT3,T,4,4,health,other,home,mother
16,GP,F,16,U,GT3,T,4,4,services,services,reputation,mother
17,GP,F,16,U,GT3,T,3,3,other,other,reputation,mother
18,GP,M,17,U,GT3,T,3,2,services,services,course,mother
19,GP,M,16,U,LE3,T,4,3,health,other,home,father

# 8.Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

In [15]:
df1[10:21]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
10,GP,F,15,U,GT3,T,4,4,teacher,health,reputation,mother
11,GP,F,15,U,GT3,T,2,1,services,other,reputation,father
12,GP,M,15,U,LE3,T,4,4,health,services,course,father
13,GP,M,15,U,GT3,T,4,3,teacher,other,course,mother
14,GP,M,15,U,GT3,A,2,2,other,other,home,other
15,GP,F,16,U,GT3,T,4,4,health,other,home,mother
16,GP,F,16,U,GT3,T,4,4,services,services,reputation,mother
17,GP,F,16,U,GT3,T,3,3,other,other,reputation,mother
18,GP,M,17,U,GT3,T,3,2,services,services,course,mother
19,GP,M,16,U,LE3,T,4,3,health,other,home,father
20,GP,M,15,U,GT3,T,4,3,teacher,other,reputation,mother

In [16]:
df1["Mjob"]=df["Mjob"].apply(cpl)

In [17]:
df1["Fjob"]=df["Fjob"].apply(cpl)

In [18]:
df1

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,At_home,Other,course,father
2,GP,F,15,U,LE3,T,1,1,At_home,Other,other,mother
3,GP,F,15,U,GT3,T,4,2,Health,Services,home,mother
4,GP,F,16,U,GT3,T,3,3,Other,Other,home,father
5,GP,M,16,U,LE3,T,4,3,Services,Other,reputation,mother
6,GP,M,16,U,LE3,T,2,2,Other,Other,home,mother
7,GP,F,17,U,GT3,A,4,4,Other,Teacher,home,mother
8,GP,M,15,U,LE3,A,3,2,Services,Other,home,mother
9,GP,M,15,U,GT3,T,3,4,Other,Other,home,mother
10,GP,F,15,U,GT3,T,4,4,Teacher,Health,reputation,mother
11,GP,F,15,U,GT3,T,2,1,Services,Other,reputation,father
12,GP,M,15,U,LE3,T,4,4,Health,Services,course,father
13,GP,M,15,U,GT3,T,4,3,Teacher,Other,course,mother
14,GP,M,15,U,GT3,A,2,2,Other,Other,home,other
15,GP,F,16,U,GT3,T,4,4,Health,Other,home,mother
16,GP,F,16,U,GT3,T,4,4,Services,Services,reputation,mother
17,GP,F,16,U,GT3,T,3,3,Other,Other,reputation,mother
18,GP,M,17,U,GT3,T,3,2,Services,Services,course,mother
19,GP,M,16,U,LE3,T,4,3,Health,Other,home,father
20,GP,M,15,U,GT3,T,4,3,Teacher,Other,reputation,mother
21,GP,M,15,U,GT3,T,4,4,Health,Health,other,father
22,GP,M,16,U,LE3,T,4,2,Teacher,Other,course,mother
23,GP,M,16,U,LE3,T,2,2,Other,Other,reputation,mother
24,GP,F,15,R,GT3,T,2,4,Services,Health,course,mother
25,GP,F,16,U,GT3,T,2,2,Services,Services,home,mother
26,GP,M,15,U,GT3,T,2,2,Other,Other,home,mother
27,GP,M,15,U,GT3,T,4,2,Health,Services,other,mother
28,GP,M,16,U,LE3,A,3,4,Services,Other,home,mother
29,GP,M,16,U,GT3,T,4,4,Teacher,Teacher,home,mother
...,...,...,...,...,...,...,...,...,...,...,...,...
365,MS,M,18,R,GT3,T,1,3,At_home,Other,course,mother
366,MS,M,18,U,LE3,T,4,4,Teacher,Services,other,mother
367,MS,F,17,R,GT3,T,1,1,Other,Services,reputation,mother
368,MS,F,18,U,GT3,T,2,3,At_home,Services,course,father
369,MS,F,18,R,GT3,T,4,4,Other,Teacher,other,father
370,MS,F,19,U,LE3,T,3,2,Services,Services,home,other
371,MS,M,18,R,LE3,T,1,2,At_home,Services,other,father
372,MS,F,17,U,GT3,T,2,2,Other,At_home,home,mother
373,MS,F,17,R,GT3,T,1,2,Other,Other,course,mother
374,MS,F,18,R,LE3,T,4,4,Other,Other,reputation,mother
375,MS,F,18,R,GT3,T,1,1,Other,Other,home,mother
376,MS,F,20,U,GT3,T,4,2,Health,Other,course,other
377,MS,F,18,R,LE3,T,4,4,Teacher,Services,course,mother
378,MS,F,18,U,GT3,T,3,3,Other,Other,home,mother
379,MS,F,17,R,GT3,T,3,1,At_home,Other,reputation,mother
380,MS,M,18,U,GT3,T,4,4,Teacher,Teacher,home,father
381,MS,M,18,R,GT3,T,2,1,Other,Other,other,mother
382,MS,M,17,U,GT3,T,2,3,Other,Services,home,father
383,MS,M,19,R,GT3,T,1,1,Other,Services,other,mother
384,MS,M,18,R,GT3,T,4,2,Other,Other,home,father
385,MS,F,18,R,GT3,T,2,2,At_home,Other,other,mother
386,MS,F,18,R,GT3,T,4,4,Teacher,At_home,reputation,mother
387,MS,F,19,R,GT3,T,2,3,Services,Other,course,mother
388,MS,F,18,U,LE3,T,3,1,Teacher,Services,course,mother
389,MS,F,18,U,GT3,T,1,1,Other,Other,course,mother
390,MS,M,20,U,LE3,A,2,2,Services,Services,course,other
391,MS,M,17,U,LE3,T,3,1,Services,Services,course,mother
392,MS,M,21,R,GT3,T,1,1,Other,Other,course,other
393,MS,M,18,R,LE3,T,3,2,Services,Other,course,mother
394,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father

# 9.Create a function called majority that return a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old).

In [19]:
def majority(x):
    if x>17 :
        return True
    else:
        return False

In [20]:
df1["legal_drunker"]=df['age'].apply(majority)

In [21]:
df1

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drunker
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,True
1,GP,F,17,U,GT3,T,1,1,At_home,Other,course,father,False
2,GP,F,15,U,LE3,T,1,1,At_home,Other,other,mother,False
3,GP,F,15,U,GT3,T,4,2,Health,Services,home,mother,False
4,GP,F,16,U,GT3,T,3,3,Other,Other,home,father,False
5,GP,M,16,U,LE3,T,4,3,Services,Other,reputation,mother,False
6,GP,M,16,U,LE3,T,2,2,Other,Other,home,mother,False
7,GP,F,17,U,GT3,A,4,4,Other,Teacher,home,mother,False
8,GP,M,15,U,LE3,A,3,2,Services,Other,home,mother,False
9,GP,M,15,U,GT3,T,3,4,Other,Other,home,mother,False
10,GP,F,15,U,GT3,T,4,4,Teacher,Health,reputation,mother,False
11,GP,F,15,U,GT3,T,2,1,Services,Other,reputation,father,False
12,GP,M,15,U,LE3,T,4,4,Health,Services,course,father,False
13,GP,M,15,U,GT3,T,4,3,Teacher,Other,course,mother,False
14,GP,M,15,U,GT3,A,2,2,Other,Other,home,other,False
15,GP,F,16,U,GT3,T,4,4,Health,Other,home,mother,False
16,GP,F,16,U,GT3,T,4,4,Services,Services,reputation,mother,False
17,GP,F,16,U,GT3,T,3,3,Other,Other,reputation,mother,False
18,GP,M,17,U,GT3,T,3,2,Services,Services,course,mother,False
19,GP,M,16,U,LE3,T,4,3,Health,Other,home,father,False
20,GP,M,15,U,GT3,T,4,3,Teacher,Other,reputation,mother,False
21,GP,M,15,U,GT3,T,4,4,Health,Health,other,father,False
22,GP,M,16,U,LE3,T,4,2,Teacher,Other,course,mother,False
23,GP,M,16,U,LE3,T,2,2,Other,Other,reputation,mother,False
24,GP,F,15,R,GT3,T,2,4,Services,Health,course,mother,False
25,GP,F,16,U,GT3,T,2,2,Services,Services,home,mother,False
26,GP,M,15,U,GT3,T,2,2,Other,Other,home,mother,False
27,GP,M,15,U,GT3,T,4,2,Health,Services,other,mother,False
28,GP,M,16,U,LE3,A,3,4,Services,Other,home,mother,False
29,GP,M,16,U,GT3,T,4,4,Teacher,Teacher,home,mother,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,MS,M,18,R,GT3,T,1,3,At_home,Other,course,mother,True
366,MS,M,18,U,LE3,T,4,4,Teacher,Services,other,mother,True
367,MS,F,17,R,GT3,T,1,1,Other,Services,reputation,mother,False
368,MS,F,18,U,GT3,T,2,3,At_home,Services,course,father,True
369,MS,F,18,R,GT3,T,4,4,Other,Teacher,other,father,True
370,MS,F,19,U,LE3,T,3,2,Services,Services,home,other,True
371,MS,M,18,R,LE3,T,1,2,At_home,Services,other,father,True
372,MS,F,17,U,GT3,T,2,2,Other,At_home,home,mother,False
373,MS,F,17,R,GT3,T,1,2,Other,Other,course,mother,False
374,MS,F,18,R,LE3,T,4,4,Other,Other,reputation,mother,True
375,MS,F,18,R,GT3,T,1,1,Other,Other,home,mother,True
376,MS,F,20,U,GT3,T,4,2,Health,Other,course,other,True
377,MS,F,18,R,LE3,T,4,4,Teacher,Services,course,mother,True
378,MS,F,18,U,GT3,T,3,3,Other,Other,home,mother,True
379,MS,F,17,R,GT3,T,3,1,At_home,Other,reputation,mother,False
380,MS,M,18,U,GT3,T,4,4,Teacher,Teacher,home,father,True
381,MS,M,18,R,GT3,T,2,1,Other,Other,other,mother,True
382,MS,M,17,U,GT3,T,2,3,Other,Services,home,father,False
383,MS,M,19,R,GT3,T,1,1,Other,Services,other,mother,True
384,MS,M,18,R,GT3,T,4,2,Other,Other,home,father,True
385,MS,F,18,R,GT3,T,2,2,At_home,Other,other,mother,True
386,MS,F,18,R,GT3,T,4,4,Teacher,At_home,reputation,mother,True
387,MS,F,19,R,GT3,T,2,3,Services,Other,course,mother,True
388,MS,F,18,U,LE3,T,3,1,Teacher,Services,course,mother,True
389,MS,F,18,U,GT3,T,1,1,Other,Other,course,mother,True
390,MS,M,20,U,LE3,A,2,2,Services,Services,course,other,True
391,MS,M,17,U,LE3,T,3,1,Services,Services,course,mother,False
392,MS,M,21,R,GT3,T,1,1,Other,Other,course,other,True
393,MS,M,18,R,LE3,T,3,2,Services,Other,course,mother,True
394,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father,True

# 10.Multiply every number of the dataset by 10.

In [22]:
def ten(x):
    if type(x) is int:
        return 10*x
    return x

In [23]:
df1.apply(ten)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drunker
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,True
1,GP,F,17,U,GT3,T,1,1,At_home,Other,course,father,False
2,GP,F,15,U,LE3,T,1,1,At_home,Other,other,mother,False
3,GP,F,15,U,GT3,T,4,2,Health,Services,home,mother,False
4,GP,F,16,U,GT3,T,3,3,Other,Other,home,father,False
5,GP,M,16,U,LE3,T,4,3,Services,Other,reputation,mother,False
6,GP,M,16,U,LE3,T,2,2,Other,Other,home,mother,False
7,GP,F,17,U,GT3,A,4,4,Other,Teacher,home,mother,False
8,GP,M,15,U,LE3,A,3,2,Services,Other,home,mother,False
9,GP,M,15,U,GT3,T,3,4,Other,Other,home,mother,False
10,GP,F,15,U,GT3,T,4,4,Teacher,Health,reputation,mother,False
11,GP,F,15,U,GT3,T,2,1,Services,Other,reputation,father,False
12,GP,M,15,U,LE3,T,4,4,Health,Services,course,father,False
13,GP,M,15,U,GT3,T,4,3,Teacher,Other,course,mother,False
14,GP,M,15,U,GT3,A,2,2,Other,Other,home,other,False
15,GP,F,16,U,GT3,T,4,4,Health,Other,home,mother,False
16,GP,F,16,U,GT3,T,4,4,Services,Services,reputation,mother,False
17,GP,F,16,U,GT3,T,3,3,Other,Other,reputation,mother,False
18,GP,M,17,U,GT3,T,3,2,Services,Services,course,mother,False
19,GP,M,16,U,LE3,T,4,3,Health,Other,home,father,False
20,GP,M,15,U,GT3,T,4,3,Teacher,Other,reputation,mother,False
21,GP,M,15,U,GT3,T,4,4,Health,Health,other,father,False
22,GP,M,16,U,LE3,T,4,2,Teacher,Other,course,mother,False
23,GP,M,16,U,LE3,T,2,2,Other,Other,reputation,mother,False
24,GP,F,15,R,GT3,T,2,4,Services,Health,course,mother,False
25,GP,F,16,U,GT3,T,2,2,Services,Services,home,mother,False
26,GP,M,15,U,GT3,T,2,2,Other,Other,home,mother,False
27,GP,M,15,U,GT3,T,4,2,Health,Services,other,mother,False
28,GP,M,16,U,LE3,A,3,4,Services,Other,home,mother,False
29,GP,M,16,U,GT3,T,4,4,Teacher,Teacher,home,mother,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,MS,M,18,R,GT3,T,1,3,At_home,Other,course,mother,True
366,MS,M,18,U,LE3,T,4,4,Teacher,Services,other,mother,True
367,MS,F,17,R,GT3,T,1,1,Other,Services,reputation,mother,False
368,MS,F,18,U,GT3,T,2,3,At_home,Services,course,father,True
369,MS,F,18,R,GT3,T,4,4,Other,Teacher,other,father,True
370,MS,F,19,U,LE3,T,3,2,Services,Services,home,other,True
371,MS,M,18,R,LE3,T,1,2,At_home,Services,other,father,True
372,MS,F,17,U,GT3,T,2,2,Other,At_home,home,mother,False
373,MS,F,17,R,GT3,T,1,2,Other,Other,course,mother,False
374,MS,F,18,R,LE3,T,4,4,Other,Other,reputation,mother,True
375,MS,F,18,R,GT3,T,1,1,Other,Other,home,mother,True
376,MS,F,20,U,GT3,T,4,2,Health,Other,course,other,True
377,MS,F,18,R,LE3,T,4,4,Teacher,Services,course,mother,True
378,MS,F,18,U,GT3,T,3,3,Other,Other,home,mother,True
379,MS,F,17,R,GT3,T,3,1,At_home,Other,reputation,mother,False
380,MS,M,18,U,GT3,T,4,4,Teacher,Teacher,home,father,True
381,MS,M,18,R,GT3,T,2,1,Other,Other,other,mother,True
382,MS,M,17,U,GT3,T,2,3,Other,Services,home,father,False
383,MS,M,19,R,GT3,T,1,1,Other,Services,other,mother,True
384,MS,M,18,R,GT3,T,4,2,Other,Other,home,father,True
385,MS,F,18,R,GT3,T,2,2,At_home,Other,other,mother,True
386,MS,F,18,R,GT3,T,4,4,Teacher,At_home,reputation,mother,True
387,MS,F,19,R,GT3,T,2,3,Services,Other,course,mother,True
388,MS,F,18,U,LE3,T,3,1,Teacher,Services,course,mother,True
389,MS,F,18,U,GT3,T,1,1,Other,Other,course,mother,True
390,MS,M,20,U,LE3,A,2,2,Services,Services,course,other,True
391,MS,M,17,U,LE3,T,3,1,Services,Services,course,mother,False
392,MS,M,21,R,GT3,T,1,1,Other,Other,course,other,True
393,MS,M,18,R,LE3,T,3,2,Services,Other,course,mother,True
394,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father,True

In [24]:
df1

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drunker
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,True
1,GP,F,17,U,GT3,T,1,1,At_home,Other,course,father,False
2,GP,F,15,U,LE3,T,1,1,At_home,Other,other,mother,False
3,GP,F,15,U,GT3,T,4,2,Health,Services,home,mother,False
4,GP,F,16,U,GT3,T,3,3,Other,Other,home,father,False
5,GP,M,16,U,LE3,T,4,3,Services,Other,reputation,mother,False
6,GP,M,16,U,LE3,T,2,2,Other,Other,home,mother,False
7,GP,F,17,U,GT3,A,4,4,Other,Teacher,home,mother,False
8,GP,M,15,U,LE3,A,3,2,Services,Other,home,mother,False
9,GP,M,15,U,GT3,T,3,4,Other,Other,home,mother,False
10,GP,F,15,U,GT3,T,4,4,Teacher,Health,reputation,mother,False
11,GP,F,15,U,GT3,T,2,1,Services,Other,reputation,father,False
12,GP,M,15,U,LE3,T,4,4,Health,Services,course,father,False
13,GP,M,15,U,GT3,T,4,3,Teacher,Other,course,mother,False
14,GP,M,15,U,GT3,A,2,2,Other,Other,home,other,False
15,GP,F,16,U,GT3,T,4,4,Health,Other,home,mother,False
16,GP,F,16,U,GT3,T,4,4,Services,Services,reputation,mother,False
17,GP,F,16,U,GT3,T,3,3,Other,Other,reputation,mother,False
18,GP,M,17,U,GT3,T,3,2,Services,Services,course,mother,False
19,GP,M,16,U,LE3,T,4,3,Health,Other,home,father,False
20,GP,M,15,U,GT3,T,4,3,Teacher,Other,reputation,mother,False
21,GP,M,15,U,GT3,T,4,4,Health,Health,other,father,False
22,GP,M,16,U,LE3,T,4,2,Teacher,Other,course,mother,False
23,GP,M,16,U,LE3,T,2,2,Other,Other,reputation,mother,False
24,GP,F,15,R,GT3,T,2,4,Services,Health,course,mother,False
25,GP,F,16,U,GT3,T,2,2,Services,Services,home,mother,False
26,GP,M,15,U,GT3,T,2,2,Other,Other,home,mother,False
27,GP,M,15,U,GT3,T,4,2,Health,Services,other,mother,False
28,GP,M,16,U,LE3,A,3,4,Services,Other,home,mother,False
29,GP,M,16,U,GT3,T,4,4,Teacher,Teacher,home,mother,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,MS,M,18,R,GT3,T,1,3,At_home,Other,course,mother,True
366,MS,M,18,U,LE3,T,4,4,Teacher,Services,other,mother,True
367,MS,F,17,R,GT3,T,1,1,Other,Services,reputation,mother,False
368,MS,F,18,U,GT3,T,2,3,At_home,Services,course,father,True
369,MS,F,18,R,GT3,T,4,4,Other,Teacher,other,father,True
370,MS,F,19,U,LE3,T,3,2,Services,Services,home,other,True
371,MS,M,18,R,LE3,T,1,2,At_home,Services,other,father,True
372,MS,F,17,U,GT3,T,2,2,Other,At_home,home,mother,False
373,MS,F,17,R,GT3,T,1,2,Other,Other,course,mother,False
374,MS,F,18,R,LE3,T,4,4,Other,Other,reputation,mother,True
375,MS,F,18,R,GT3,T,1,1,Other,Other,home,mother,True
376,MS,F,20,U,GT3,T,4,2,Health,Other,course,other,True
377,MS,F,18,R,LE3,T,4,4,Teacher,Services,course,mother,True
378,MS,F,18,U,GT3,T,3,3,Other,Other,home,mother,True
379,MS,F,17,R,GT3,T,3,1,At_home,Other,reputation,mother,False
380,MS,M,18,U,GT3,T,4,4,Teacher,Teacher,home,father,True
381,MS,M,18,R,GT3,T,2,1,Other,Other,other,mother,True
382,MS,M,17,U,GT3,T,2,3,Other,Services,home,father,False
383,MS,M,19,R,GT3,T,1,1,Other,Services,other,mother,True
384,MS,M,18,R,GT3,T,4,2,Other,Other,home,father,True
385,MS,F,18,R,GT3,T,2,2,At_home,Other,other,mother,True
386,MS,F,18,R,GT3,T,4,4,Teacher,At_home,reputation,mother,True
387,MS,F,19,R,GT3,T,2,3,Services,Other,course,mother,True
388,MS,F,18,U,LE3,T,3,1,Teacher,Services,course,mother,True
389,MS,F,18,U,GT3,T,1,1,Other,Other,course,mother,True
390,MS,M,20,U,LE3,A,2,2,Services,Services,course,other,True
391,MS,M,17,U,LE3,T,3,1,Services,Services,course,mother,False
392,MS,M,21,R,GT3,T,1,1,Other,Other,course,other,True
393,MS,M,18,R,LE3,T,3,2,Services,Other,course,mother,True
394,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father,True

In [25]:
df1.plot()